<header class="app-header">
  <div class="container flex space-between">
  <h1>Bitcoin</h1>

  <nav class="flex">
    <a exact class='main-nav-item' routerLink="/"  routerLinkActive="selected">
      Home
  </a>
  <a class='main-nav-item' routerLink="/contact" routerLinkActive="selected">
      Contacts
  </a>  
  <a class='main-nav-item' routerLink="/signup" routerLinkActive="selected">
      Signup
  </a>  
  <a class='main-nav-item' routerLink="/stats" routerLinkActive="selected">
      Statistics
  </a>  
</nav>
</div>
</header>