<header class="app-header">
  <div class="container flex space-between align-center">
    <div>
      <img src="assets/img/logo.png" alt="">
    </div>

    <nav class="flex">
      <a exact class='main-nav-item' routerLink="/home" routerLinkActive="selected">
        Home
      </a>
      <a class='main-nav-item' routerLink="/contact" routerLinkActive="selected">
        Contacts
      </a>
      <a class='main-nav-item' routerLink="/stats" routerLinkActive="selected">
        Statistics
      </a>
      <a class='main-nav-item' routerLink="/signup" routerLinkActive="selected">
        Signup
      </a>
    </nav>
  </div>
</header>