:host {
  align-items: center;
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  border-bottom: 1px solid;
}

.main-nav-item {
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-item.selected {
  color: #c7f0db;
}
