.home-page {
  text-align: center;
  margin: 0;

  img {
    z-index: -10;
    margin: -10px -40px -52px;
    border-radius: 3px;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 12px;
    font-size: 1.8rem;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 1.5rem;
  }

  button {
    padding: 4px 22px 6px;
  }
}