.signup-page {
  margin-top: 15vh;
  text-align: center;
  background-color: #0b1426;
  border-radius: 20px;
  padding:40px 30px;
  width: 100%;
  box-shadow: 0 0 10px 0px #2a2a2a;
  
  h2 {
    color: inherit;
    margin-bottom: 20px;
  }

  input {
    margin-top: 8px;
    font-size: 1.1rem;
    padding-bottom: 4px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    outline: 0;
  }

  button {
    display: block;
    margin: 20px auto 5px;
  }
}