.contact-filter {
  text-align: center;
  align-items: center;
  max-width: 300px;
  margin: 10px auto;
  padding: 6px 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgb(122, 122, 122), inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
  background-color: #fff;

  input {
    background-color: inherit;
    border: none;
    padding: 5px;
    font-size: 1.1rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}