.contact-edit {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: #0b1426;
padding: 80px;
border-radius: 10px;
text-align: center;


  form {
    display: flex;
    flex-direction: column;
    gap: 4px;

    input {
      text-align: left;
      width: 230px;
      border-radius: 5px;
      outline: #4e586e;
      background-color: #fff;
      border: 1px solid #4e586e;
      padding: 5px 8px;
      margin-bottom: 8px;

      &:focus {
        border: 1px solid #4e586e;
      }
    }
  }
}