<section *ngIf="contact" class="contact-edit">
  <h2>{{contact._id ? 'Edit':'Add'}} Contact</h2>
  <form (ngSubmit)="onSaveContact()">
      <label for="name">Name</label>
      <input [(ngModel)]="contact.name" type="text" name="name" id="name">

      <label for="phone">Phone</label>
      <input [(ngModel)]="contact.phone" type="text" name="phone" id="phone">

      <label for="email">Email</label>
      <input [(ngModel)]="contact.email" type="text" name="email" id="email">

      <button class="btn">Save</button>
  </form>
  <button class="btn">Back</button>
</section>