.contact-preview {
    background: linear-gradient(180deg, #4e586e90, hsla(0deg, 0%, 100%, 0)), #fff;
    filter: drop-shadow(0 4px 40px rgba(0, 0, 0, .1));
    border-radius: 8px;
    box-shadow: 0 4px 40px rgb(0 0 0 / 10%);
    cursor: pointer;
    width: 230px;

    &:hover {
        box-shadow: 0 4px 40px rgb(0 0 0 / 30%);
    }

    .contact-img {
        width: 100%;
        margin: 0 auto;
    }

    p {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        color: #4f5963;
        margin-bottom: 4px;
    }

    .actions {
        margin-top: 4px;
        display: flex;
        justify-content:center;
        direction: rtl;
        transition: all 0.6s;
        margin: 0 auto;

        .btn {
            background: #00000046;
            padding: 6px 10px;
            line-height: 20px;
        }
    }

    &:hover .actions .btn {
        background: linear-gradient(90deg, rgb(17, 153, 250) 0%, rgb(17, 208, 250) 100%) 0% 0% / cover no-repeat;
    }

}