/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4e586e;
  color: #fff;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
      text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;

  * {
      pointer-events: none;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}

$navHeight: 65px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

.container {
  max-width: $normal-breakpoint;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding: 20px;


  // @include for-mobile-layout {
  //     max-width: initial;
  // }

  // @include for-tablet-layout {
  //     max-width: $mobile-breakpoint;
  // }

  // @include for-normal-layout {
  //     max-width: $tablet-breakpoint;
  // }

  // @include for-wide-layout {
  //     max-width: $normal-breakpoint;
  // }
}

.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
      flex-grow: 1;
  }

  >footer {
      text-align: center;
      color: #c8c8c8;
      width: 100%;
  }
}

// Positioning
.flex {
  display: flex;
  &.column { flex-direction: column; }
  &.justify-center { justify-content: center; }
  &.align-center { align-items: center; }
  &.wrap { flex-wrap: wrap; }
  &.space-between { justify-content: space-between; }
  &.space-around { justify-content: space-around; }
  &.auto-center {
      justify-content: center;
      align-items: center;
  }
  > *.full-grow { flex: 1; }
}

// List
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &>li {
      margin: 0;
      padding: 0;
  }
}

.btn {
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(90deg, rgb(17, 153, 250) 0%, rgb(17, 208, 250) 100%) 0% 0% / cover no-repeat;
  padding: 10px 16px;
  font-weight: 600;
  font-size: .8em;
  color: #fff;
  border: none;
  border-radius: 3px;
  letter-spacing: 1.5px;
  margin: 4px;

  &:hover {
    text-decoration: none;
    background: linear-gradient(90deg, rgb(66, 156, 220) 0%, rgb(59, 207, 240) 100%) 0% 0% / cover no-repeat;
  }

  * {
    pointer-events: none;
  }
}
