<section class="contact-list" *ngIf="contacts; else loading">
  <contact-preview (onRemove)="onRemove.emit($event)" *ngFor="let contact of contacts" [contact]="contact">
  </contact-preview>
</section>
<ng-template #loading>
  <div class="flex wrap">
    <div class="col-sm-6 col-md-3" *ngFor="let num of [1,2,3,4,5,6]">
      <div class="movie--isloading">
        <div class="loading-image"></div>
        <div class="loading-content flex column">
          <div class="loading-text-container">
            <div class="loading-main-text"></div>
          </div>
          <div class="loading-btns flex justify-center">
            <div class="loading-btn"></div>
            <div class="loading-btn"></div>
            <div class="loading-btn"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>