.contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto;
  margin-top: 8px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: em(8px);
  }

  // background
  &::-webkit-scrollbar-track {
    background: #091e4214;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #00000026;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-button {
    display: block;
    height: 6px;
    width: 6px;
  }
}

@media (min-width: 916px) {
  .contact-list {
    width: 900px;
  }
}

@media (max-width: 916px) {
  .contact-list {
    width: 610px;
  }
}

@media (max-width: 668px) {
  .contact-list {
    width: 330px;
  }
}